.home-heading{
    margin: 100px;
    text-align: center;
    font-size: 80px;
    font-family: 'Raleway', sans-serif;
    font-weight: 1000;
    color: #E5E5E5;
}

.home-paragraph{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #E5E5E5;
}