.bot-container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bot-text{
    font-family: 'Open Sans', sans-serif;
    text-align: end;
    font-weight: 400;
    color: #442B48;
}