.chatbot-main{
    display: flex;
    width: 100%;
    flex: 0.6;
    flex-direction: column;
    background-color: #9BC1BC;
    margin: 0px auto;
    border-radius: 4px;
    padding: 20px;
    height: 90vh;
    /* overflow: scroll; */
}